<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>Assistant-Bold.ttf</string>
		<string>Assistant-ExtraBold.tff</string>
		<string>Assistant-Light.ttf</string>
		<string>Assistant-Regular.tff</string>
		<string>Assistant-SemiBold.ttf</string>
		<string>Assistant-Medium.ttf</string>
	</array>
</dict>
</plist>
